extends layout

block content
  .container-fluid
    h1 #{__('Blockchain')}
    .row.row-horizon
      - var blocks = []
      - blocks.push({block: 1, chain: 1, previous: '0000000000000000000000000000000000000000000000000000000000000000'})
      - blocks.push({block: 2, chain: 1, previous: '0000000000000000000000000000000000000000000000000000000000000000'})
      - blocks.push({block: 3, chain: 1, previous: '0000000000000000000000000000000000000000000000000000000000000000'})
      - blocks.push({block: 4, chain: 1, previous: '0000000000000000000000000000000000000000000000000000000000000000'})
      - blocks.push({block: 5, chain: 1, previous: '0000000000000000000000000000000000000000000000000000000000000000'})
      each block in blocks
        .col-xs-7
          include includes/block

  script.
    $(document).ready(function() {
      setupBlock(1, 1);
      setupBlock(2, 1);
      setupBlock(3, 1);
      setupBlock(4, 1);
      setupBlock(5, 1);
    });

    $(function() {
      $('#block1chain1data').bind('input propertychange', function() { updateHash(1, 1); updateState(2, 1); });
      $('#block2chain1data').bind('input propertychange', function() { updateHash(2, 1); updateState(3, 1); });
      $('#block3chain1data').bind('input propertychange', function() { updateHash(3, 1); updateState(4, 1); });
      $('#block4chain1data').bind('input propertychange', function() { updateHash(4, 1); updateState(5, 1); });
      $('#block5chain1data').bind('input propertychange', function() { updateHash(5, 1)});

      adaptButtonAnimation(1, 1);
      adaptButtonAnimation(2, 1);
      adaptButtonAnimation(3, 1);
      adaptButtonAnimation(4, 1);
      adaptButtonAnimation(5, 1);

      updatePrevButtonAnimation(1, 1);
      updatePrevButtonAnimation(2, 1);
      updatePrevButtonAnimation(3, 1);
      updatePrevButtonAnimation(4, 1);
      updatePrevButtonAnimation(5, 1);
    });

    function adaptButtonAnimation(block, chain) {
      $('#block'+block+'chain'+chain+'adaptButton').click(function(e) {
        e.preventDefault();
        var l = Ladda.create(this);
        l.start();
        setTimeout(function() {
          adaptBlock(block, chain);
          l.stop();
            }, 250); // give UI time to update
      });
    }

    function updatePrevButtonAnimation(block, chain) {
      $('#block'+block+'chain'+chain+'updatePrevButton').click(function(e) {
        e.preventDefault();
        var l = Ladda.create(this);
        l.start();
        setTimeout(function() {
          updatePrevHash(block, chain);
          l.stop();
            }, 250); // give UI time to update
      });
    }

