extends layout

block content
  a(href='https://github.com/Mega-Ryan/blockchain-demo')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 #{__('Blockchain Demo')}
  
    div.center-align
      img.big-picture(src='/images/wallpaper.webp', alt='Big Picture', style='clip: rect(0, 1024px, 768px, 0);')